@using Microsoft.EntityFrameworkCore
@model List<vm22MVC.Controllers.LeaderboardController.pointsOverView>

<h3>Poengoversikt</h3>

@{foreach (var user in Model.OrderByDescending(t => t.TotalScore))
  {
      <p><text>@user.UserName - @user.TotalScore</text></p>
  }
}


@*Trying to sort the table before presenting it*@
