@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.ComponentModel.DataAnnotations.Schema
@using System.Diagnostics
@using System.Security.Cryptography.X509Certificates
@using getAPIstuff.Models
@model UserModel

<div class="text-center">
    <h1 class="display-4">Tippekonk VM22</h1>
    <h6>Tipping!</h6>
    <p></p>
    <form asp-action="Tippekonk">
        <p></p>
        <div class="text-center">
            @{
                var now = DateTime.Now;
                var tippingStartTid = new DateTime(2022, 12, 6, 21, 00, 00);
                if (now > tippingStartTid)
                {
                    <input type="submit" class="btn btn-primary" value="Start tipping!" />
                }
                else
                {
                    <p>Tipping er stengt!</p>
                }
            }
            </div>
    </form>
    <img src="~/images/logo.svg" height="300"/>
</div>
@*@Debug.WriteLine($"Brukernavn{TournamentModel.BrukerNavn} og gruppenamn er {TournamentModel.GruppeNavn}");*@