@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.ComponentModel.DataAnnotations.Schema
@using System.Diagnostics
@using System.Security.Cryptography.X509Certificates
@using getAPIstuff.Models
@model UserModel

<div class="text-center">
    <h1 class="display-4">Tippekonk VM22</h1>
    <p></p>
    <form asp-action="Tippekonk">
        @*<div class="text-center">
            <label class="form-label">Kallenamn:</label>
            <input type="text" size="20" asp-for="@Model.BrukerNavn"/>
        </div>
        <p></p>
        <div class="text-center">
            <label for="GruppeNavn">Velg gruppe:</label>
            <select name="GruppeNavn" id="GruppeNavn" asp-for="@Model.GruppeNavn">
              <option value="Odds konk">Odds konk</option>
              <option value="STAF">STAF</option>
              <option value="Høyheims tippekonk">Høyheims tippekonk</option>
            </select>
        </div>*@
        <p></p>
        <div class="text-center">
            @*<input type="submit" class="btn btn-primary" value="Start tipping!"/>*@
        </div>
    </form>
    <img src="~/images/logo.svg" height="300"/>
</div>
@*@Debug.WriteLine($"Brukernavn{TournamentModel.BrukerNavn} og gruppenamn er {TournamentModel.GruppeNavn}");*@