@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.ComponentModel.DataAnnotations.Schema
@using System.Diagnostics
@using System.Security.Cryptography.X509Certificates
@using getAPIstuff.Models

<div class="text-center">
    <h5 class="display-8">Tipping vil opne fredag 2.desember kl 22.00!</h5>
    <p></p>
    <form action="/login" method="post">
        <div class="text-center">
            <label for="userName">Brukarnamn:</label>
            <select name="userName" id="userName" for="userName">
                <option value="BERNT">BERNT</option>
                <option value="DALAHAUGEN">DALAHAUGEN</option>
                <option value="FRODEK">FRODEK</option>
                <option value="KAPTEIN HEMO">KAPTEIN HEMO</option>
                <option value="LASSN">LASSN</option>
                <option value="MAOLTEFT FC">MAOLTEFT FC</option>
                <option value="TONE B">TONE B</option>
                <option value="VIGDAL VED OG VEL">VIGDAL VED OG VEL</option>
            </select>
        </div>
        <div style="display: none" class="text-center">
            <label class="form-label">Passord:</label>
            <input type="password" size="20" name="password" />
        </div>
        <p></p>
        <div style="display: none" class="text-center">
            <label for="bettingGroup">Velg gruppe:</label>
            <select name="bettingGroup" id="bettingGroup" for="bettingGroup">
                <option value="Odds konk">Odds konk</option>
            </select>
        </div>
        <p></p>
        <div class="text-center">
            @{
                var now = DateTime.Now;
                var tippingStartTid = new DateTime(2022, 12, 2, 22, 00, 00);
                if (now > tippingStartTid)
                {
                    <input type="submit" class="btn btn-primary" value="Logg inn!" />
                }
                else
                {
                    <p></p>
                }
            }
        </div>
    </form>
    <p></p>
<img src="~/images/logo.svg" height="300"/>
</div>
@*@Debug.WriteLine($"Brukernavn{TournamentModel.BrukerNavn} og gruppenamn er {TournamentModel.GruppeNavn}");*@

