@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.ComponentModel.DataAnnotations.Schema
@using System.Diagnostics
@using System.Security.Cryptography.X509Certificates
@using getAPIstuff.Models

<div class="text-center">
    <h3 class="display-4">Tipping vil opne fredag 2.desember!</h3>
    <p></p>
    <form action="/login" method="post">
        <div class="text-center">
            <label class="form-label">Kallenamn:</label>
            <input type="text" size="20" name="userName" />
        </div>
        <div style="display: none" class="text-center">
            <label class="form-label">Passord:</label>
            <input type="password" size="20" name="password" />
        </div>
        <p></p>
        <div class="text-center">
            <label for="bettingGroup">Velg gruppe:</label>
            <select name="bettingGroup" id="bettingGroup" for="bettingGroup">
                <option value="Odds konk">Odds konk</option>
            </select>
        </div>
        <p></p>
        <div class="text-center">
            @{
                var now = DateTime.Now;
                var tippingStartTid = new DateTime(2022, 12, 2, 22, 00, 00);
                if (now > tippingStartTid)
                {
                    <input type="submit" class="btn btn-primary" value="Logg inn!" />
                }
                else
                {
                    <p>Tipping ikkje mogeleg før @tippingStartTid</p>
                }
            }
        </div>
    </form>
    <p></p>
<img src="~/images/logo.svg" height="300"/>
</div>
@*@Debug.WriteLine($"Brukernavn{TournamentModel.BrukerNavn} og gruppenamn er {TournamentModel.GruppeNavn}");*@

