@using Microsoft.AspNetCore.Mvc.TagHelpers

<div class="text-center">
    <form action="/login" method="post">
        <div class="text-center">
            <label for="userName">Brukarnamn:</label>
            <select name="userName" id="userName" for="userName" onclick="UpdateSubmitButton()">
                <option disabled selected value="unselected">Velg bruker</option>
                <option value="BERNT">BERNT</option>
                <option value="DALAHAUGEN">DALAHAUGEN</option>
                <option value="FRODEK">FRODEK</option>
                <option value="KAPTEIN HEMO">KAPTEIN HEMO</option>
                <option value="LASSN">LASSN</option>
                <option value="MAOLTEFT FC">MAOLTEFT FC</option>
                <option value="TONE B">TONE B</option>
                <option value="VIGDAL VED OG VEL">VIGDAL VED OG VEL</option>
            </select>
        </div>
        <div style="display: none" class="text-center">
            <label class="form-label">Passord:</label>
            <input type="password" size="20" name="password" />
        </div>
        <p></p>
        <div style="display: none" class="text-center">
            <label for="bettingGroup">Velg gruppe:</label>
            <select name="bettingGroup" id="bettingGroup" for="bettingGroup">
                <option value="Odds konk">Odds konk</option>
            </select>
        </div>
        <p></p>
        <div class="text-center">
            @{
                if (!string.IsNullOrWhiteSpace(""))
                {
                                        <input type="submit" id="submitButtonId" class="btn btn-primary" value="Logg inn" />
                }
                        else
                {
                                        <input disabled="disabled" type="submit" class="btn btn-primary" value="Logg inn" />
                }
            }
            
            <p></p>
        </div>
    </form>
    <p></p>
    <img src="https://upload.wikimedia.org/wikipedia/en/e/e3/2022_FIFA_World_Cup.svg" height="300" />
</div>
@*@Debug.WriteLine($"Brukernavn{TournamentModel.BrukerNavn} og gruppenamn er {TournamentModel.GruppeNavn}");*@
<script>
    function UpdateSubmitButton()
    {
        let var1 = document.getElementById('userName');
        if (var1.value == 'unselected'){
            document.getElementById('submitButtonId').disabled = true;
        } else {
            document.getElementById('submitButtonId').disabled = false;
        }
    }

</script>
